.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    animation: growth linear 0.2s;
    
}

.modal__overlay {
    --growth-to:1;
    --growth-from:0.7;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
}

.modal__body {
    
    overflow: hidden;
    margin: auto;
    background-color: var(--white-color);
    position: relative;
    border-radius: 4px;
    z-index: 1;
    animation: animation linear .3s;

}

img {
    cursor: pointer;
}