.login__form {
    width: 396px;
    box-shadow: 4px 4px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border-radius:10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.login__form--register {
    border-top:1px solid rgb(214, 209, 209);
    margin-top: 20px;
}

.login__form--register > button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #42b72a;
    border-radius:3px;
    border: none;
}

.login__form--register > button > a {
    color: #fff;
    font-size: 18px;
}

.login__error {
    margin: 10px 0;
    color: red;
    font-size: 14px;
}