.inforProduct {
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  cursor: pointer;
}

.inforProduct__img {
  padding: 20px;
  height: 200px;
}

.inforProduct:hover .inforProduct__img {
  transform: scale(1.1);
}

.inforProduct__name {
  display: -webkit-box;
  font-size: 16px;
  color: #333;
  line-height: 26px;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  margin-bottom: 5px !important;
  height: 52px;
}
.inforProduct__price--new {
  color: red;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
}

.inforProduct__price--old span {
  text-decoration: line-through;
  color: #d8d8d8;
}

.inforProduct__price--old span:last-child {
  text-decoration: none;
  color: #333;
}

.inforProduct__promotion {
  color: #333;
  font-weight: border;
}

.inforProduct__star > i {
  color: rgb(247, 247, 85);
  margin-right: 5px;
}
