.navbar__icon--cart {
  position: relative;
}

.cart {
  position: absolute;
  width: 400px;
  background-color: #fff;
  right: -200px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 10px;
  display: none;

  animation: moveRight ease-in-out 0.3s;

  z-index: 1;
}

.cart__img {
  text-align: center;
}

.cart img {
  width: 50%;
  padding: 20px;
}

.cart_all {
  border-top: 1px solid rgb(218, 216, 216);
  padding: 5px 10px;
  text-align: center;
}

.cart_all a {
  color: #333;
}

.cart::after {
  content: " ";
  width: 50px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  top: -10px;
  right: 180px;
}

.cart::before {
  content: " ";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(185, 182, 182);

  position: absolute;
  top: -10px;
  right: 200px;
}

.navbar__icon--cart:hover .cart {
  display: block;
}

.cart__count {
  width: 15px;
  height: 15px;
  font-size: 13px;
  background-color: red;
  display: flex;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  position: absolute;
  top: -2px;
  right: -7px;
}

.cart__count > span {
  margin: 0 auto;
}

.cart__product {
  margin-bottom: 10px;
}

.cart__product:last-child {
  margin-bottom: 10px;
}
.cart__product--img {
  width: 100px !important;
}

.cart__product--infor {
  padding-right: 10px;
  padding-top: 15px;
}
.cart__product--infor-name {
  display: block;
  display: -webkit-box;

  -webkit-line-clamp: 1; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
